<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDados.Properties.Settings.stringConexao"
            connectionString="Data Source=172.16.0.7;Initial Catalog=TIM;Persist Security Info=True;User ID=sqladmin;Password=aiof24"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>