<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TIM.Properties.Settings.TIMConnectionString" connectionString="Data Source=172.16.0.7;Initial Catalog=TIM;Persist Security Info=True;User ID=sqladmin;Password=aiof24"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>